<% content_for :layout do %>
  <%= render template: 'layouts/form_submission' %>
<% end %>

<%= render layout: 'form_submissions/form', locals: { step_title: 'Personal Information' } do |form| %>
  <div class="space-y-4">
    <div class="space-y-2">
      <%= render_label name: :name, label: 'Full Name' %>
      <%= render_input name: :name,
                      value: @form_submission.step_values(@step_id)['name'],
                      required: true,
                      data: { form_target: 'field' } %>
      <div class="text-sm font-medium text-destructive hidden">
        Please provide your full name.
      </div>
    </div>
    
    <div class="space-y-2">
      <%= render_label name: :email, label: 'Email Address' %>
      <%= render_input name: :email,
                      type: :email,
                      value: @form_submission.step_values(@step_id)['email'],
                      required: true,
                      data: { form_target: 'field' } %>
      <div class="text-sm font-medium text-destructive hidden">
        Please provide a valid email address.
      </div>
    </div>
    
    <div data-form-target="navigation" class="flex justify-between mt-6">
      <!-- Navigation buttons will be dynamically rendered here by the FormController -->
    </div>
    
    <div class="flex justify-end mt-6">
      <%= render_button 'Next', as: :submit, name: 'commit', value: 'Next' %>
    </div>
  </div>
<% end %>